@charset "UTF-8";
.social-media{
	display: flex;
	justify-content: center;
	
}
.social-icon{
	height: 46px;
	width: 46px;
	border: 1px solid #333;
	margin: 0 0.45rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #333;
	font-size: 1.3rem;
	border-radius: 50%;
	transition: all 0.5s;
	
}
.social-icon:hover{
	color:#FFD24C;
	border-color: #FFE69A;
}

