<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ProjetEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Vue/LoginServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>controller.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/Vue/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeAppoiServlet</display-name>
    <servlet-name>MakeAppoiServlet</servlet-name>
    <servlet-class>controller.MakeAppoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeAppoiServlet</servlet-name>
    <url-pattern>/Vue/Appointement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDocServlet</display-name>
    <servlet-name>AddDocServlet</servlet-name>
    <servlet-class>controller.AddDocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDocServlet</servlet-name>
    <url-pattern>/Vue/AddDoc</url-pattern>
  </servlet-mapping>

   <servlet>
    <description></description>
    <display-name>AddPatServlet</display-name>
    <servlet-name>AddPatServlet</servlet-name>
    <servlet-class>controller.AddPatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatServlet</servlet-name>
    <url-pattern>/Vue/AddPat</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EditDocServlet</display-name>
    <servlet-name>EditDocServlet</servlet-name>
    <servlet-class>controller.EditDocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDocServlet</servlet-name>
    <url-pattern>/Vue/EditDoc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EditPatServlet</display-name>
    <servlet-name>EditPatServlet</servlet-name>
    <servlet-class>controller.EditPatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPatServlet</servlet-name>
    <url-pattern>/Vue/EditPat</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>UpdateDocServlet</display-name>
    <servlet-name>UpdateDocServlet</servlet-name>
    <servlet-class>controller.UpdateDocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDocServlet</servlet-name>
    <url-pattern>/Vue/UpdateDoc</url-pattern>
  </servlet-mapping>
  
    
  <servlet>
    <description></description>
    <display-name>UpdatePatServlet</display-name>
    <servlet-name>UpdatePatServlet</servlet-name>
    <servlet-class>controller.UpdatePatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatServlet</servlet-name>
    <url-pattern>/Vue/UpdatePat</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>NavigationServlet</display-name>
    <servlet-name>NavigationServlet</servlet-name>
    <servlet-class>controller.NavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavigationServlet</servlet-name>
    <url-pattern>/Vue/NavigationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DeleteDocServlet</display-name>
    <servlet-name>DeleteDocServlet</servlet-name>
    <servlet-class>controller.DeleteDocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocServlet</servlet-name>
    <url-pattern>/Vue/DeleteDoc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DeletePatServlet</display-name>
    <servlet-name>DeletePatServlet</servlet-name>
    <servlet-class>controller.DeletePatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatServlet</servlet-name>
    <url-pattern>/Vue/DeletePat</url-pattern>
  </servlet-mapping>
  
 
</web-app>